#dropdown-menu {
  padding: 0.4rem 2rem;
  border: solid 1px;
  font-family: inherit;
  font-size: 0.9rem;
}

.dashboard-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
}

.hidden {
  display: none;
}

table {
  border-spacing: 0;
  min-width: 800px;
  width: 100%;
  border: rgb(221, 218, 215) solid;
}

table * {
  border: rgb(221, 218, 215) solid;
  padding: 0.3rem;
  text-align: center;
  font-size: 14px;
}

table td:last-child {
  text-align: left;
}

table thead {
  background-color: #e4e1e1;
  border: rgb(221, 218, 215) solid;
}

table tbody {
  background-color: #e4e1e1;
}

table tbody tr {
  border-bottom: none;
}

#produtos {
  display: none;
}

/*------------- MODAL ------------- */
.modal {
  margin: auto auto;
  padding: 4rem;
  background: #e3e3e3;
}

dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.5);
}

#titulo {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 50px auto;
  gap: 1rem;
}

.acoes {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
}

.acoes p {
  font-size: 13px;
  width: 260px;
}

.inpt_descreva_pedido {
  height: 150px;
  line-height: normal;
}

.btn_terciario {
  padding: 0.7rem 1.2rem;
}

.btn_primario {
  padding: 0.9rem 1.2rem;
}
