.dashboard-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 4rem;
}

#container {
    display: flex;
    flex-direction: column;
}


table {

    padding: 6px;
    margin: 0;
    text-align: center;
}

tr * {
    padding: 6px;
}

tbody tr:hover {
    color: rgb(154, 154, 154);
    cursor: pointer;
}

th {
    border-radius: 12px;
}

.tabela_header {

    background: #FFCF48;
    color: #333
}

#tabela_produtos {
    width: 900px;
    margin: 0 auto;
}

/*------------- MODAL ------------- */
.modal {
    margin: auto auto;
    padding: 2.6rem;
    background: #e3e3e3;
    border: transparent;
    border-radius: 12px;
}

dialog::backdrop {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.5);
}

#titulo {
    text-align: center;
    margin-bottom: 8px;
}

form {
    max-width: 500px;
    /* margin: 50px auto; */
    /* gap: 1rem; */
}

.campo {
    width: 450px;
}

.acoes {
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 1rem;
}

.acoes p {
    font-size: 13px;
    width: 260px;
}

.inpt_descreva_pedido {
    height: 150px;
    line-height: normal;
}

.btn_terciario {
    padding: 0.7rem 2.7rem;
}

.btn_quartenario {
    padding: 0.7rem 2.7rem;
}

.btn_primario {
    padding: 0.7rem 2.7rem;
}