#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  margin: 16px;
}

#cadastro_cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 40px 16px;
}

.cadastro_cabecalho_h3 {
  margin: 0px;
  padding: 8px;
  font-size: 26px;
}

.cadastro_cabecalho_p {
  max-width: 300px;
}

form {
  max-width: 480px;
  margin-bottom: 20px;
}
.linha {
  display: flex;
  width: 100%;
}

.formulario_acoes {
  margin: 50px 0;
  display: flex;
  align-items: center;
  padding: 8px;
}

.formulario_acoes p {
  font-size: 13px;
  width: 260px;
}
