#content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  margin: 16px;
}

#editar_clientes_cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 8px 16px;
}

.editar_clientes_cabecalho_h3 {
  margin: 0px;
  padding: 8px;
  font-size: 26px;
}

#editar_produtos_cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 8px 16px;
}

.editar_produtos_cabecalho_h3 {
  margin: 0px;
  padding: 8px;
  font-size: 26px;
}


.formulario {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 600px;
}

.formulario_linha {
  display: flex;
}

.formulario_campo {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  padding: 8px;
}

.formulario_campo input {
  padding: 8px;
}

.formulario_campo label {
  font-size: 14px;
  margin-bottom: 4px;
}

.formulario_acoes {
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-around;
}

.formulario_acoes p {
  font-size: 13px;
  width: 260px;
}

.inpt_descreva_pedido{
  height: 150px;
  line-height: normal;
}

.botao_primario {
  background-color: #f57575da;
  color: #000000;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.botao_primario:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
