#dropdown-menu {
  padding: 0.4rem 2rem;
  border: solid 1px;
  font-family: inherit;
  font-size: 0.9rem;
}

.dashboard-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
}

.hidden {
  display: none;
}

table {
  border-spacing: 0;
  min-width: 800px;
  width: 100%;
  border: rgb(221, 218, 215) solid;
}

table * {
  border: rgb(221, 218, 215) solid;
  padding: 0.3rem;
  text-align: center;
  font-size: 14px;
}

table td:last-child {
  text-align: left;
}

table thead {
  background-color: #e4e1e1;
  border: rgb(221, 218, 215) solid;
}

table tbody {
  background-color: #e4e1e1;
}

table tbody tr {
  border-bottom: none;
}

#produtos {
  display: none;
}
