#dropdown-menu {
  padding: 0.4rem 2rem;
  border: solid 1px;
  font-family: inherit;
  font-size: 0.9rem;
}

#content {
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  margin: 76px 16px;
}

#cadastro_cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin: 8px 16px;
}

.cadastro_cabecalho_h3 {
  margin: 0px;
  padding: 8px;
  font-size: 26px;
}

.cadastro_cabecalho_p {
  max-width: 300px;
}

form {
  min-width: 400px;
  max-width: 600px;
}

.formulario_linha {
  display: flex;
  width: 100%;
}

.formulario_acoes {
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding: 4px;
  gap: 1rem;
}

.formulario_acoes p {
  font-size: 13px;
  width: 260px;
}

.warning {
  background-color: #dd0000;
  color: #ffffff;
}
