#content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 16px;
}

.titulo {
  font-size: 2rem;
}

#tamanhos {
  display: flex;
  justify-content: center;
}

#tamanhos * {
  max-width: 120px;
}

#detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detalhes h3 {
  font-size: 1.6rem;
  padding: 16px;
  text-align: center;
  margin-top: 16px;
}

#detalhes textarea {
  width: 500px;
  height: 300px;
  margin-bottom: 1rem;
}

.btn_primario {
  margin-top: 2rem;
  max-width: 150px;
}
