#content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 16px;
}

#main_home{

    display: contents;
}

#home_cabeçalho{
    padding: 15px;
}
#home_info{

    margin: 5px auto;
    display: flex;
    align-items: center;
}

#home_habilidades_central{
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.home_habilidades{
    
    width: 400px;
    height: auto;

}

figure {

    width: 400px;
    height: auto;
}

figure img {

    width: 400px;
    height: auto;
}

#home_icons {
    margin: 0 auto;
    margin-left: 110px;
    display: flex;
    align-items: center;
    padding: 50px;
   

}

#home_icons img{

    width: 50px;
}

.home_img_pessoas{
 margin-right: 50px;
}

.home_img_seta{
    margin-left: 50px;
}

.home_img_monitorar{

    margin-right: 40px;
    margin-left: 60px;
}


#home_rodape{
    padding: 10px;
    place-items: center;
    place-self: center;
    margin: 0 auto;
    
}

.home_img_parceiros{
    
    padding: 16px;
    width: 1000px;
    height: auto;
}

.home_img_parceiros img{

    width: 600px;
    height: auto;
}


.home_cadastro_button button{
    padding: 10px 24px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
