header {
  margin: 10px 0;
  justify-content: center;
}

#main_nav {
  display: none;
}

#content {
  text-align: center;
  gap: 2rem;
}

.formulario {
  gap: 1rem;
}

.card {
  margin: 30px auto;
  padding: 2rem;
  width: 300px;
  height: 100%;
}

a:hover {
  color: #a8a8a8;
  transition: ease-in 0.2s;
}
