#content {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  justify-content: start;
  align-items: center;
}

#locker_image {
  
  width: 90%;
  height: 90%;
}

#locker_image img {
  width: 80%;
  height: 80%;
  margin-top: 36px;
  object-fit: contain;
}

.descricao {
  display: grid;
  gap: 1.rem;  
}

#subtitulo {
  margin-top: 70px;
  font-size: 1.4rem;
  margin-bottom: 40px;
}


#card_container {
  margin-top: 10px;
}

.btn_primario {
  padding: 0.8rem 3.5rem;
  font-size: 16px;
  max-width: 215px;
}

.btn_secundario {
  padding: 0.8rem 3.5rem;
  font-size: 16px;
  max-width: 190px;
}