#content {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  justify-content: start;
  align-items: center;
}

#locker_image {
  margin: -80px 0;
  width: 90%;
  height: 90%;
}

#locker_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.descricao {
  display: grid;
  gap: 1.2rem;
}

#subtitulo {
  margin-top: 70px;
  font-size: 1.4rem;
}

.btn_primario {
  margin-bottom: 70px;
}
