.foto_armario{
   
   height: 300px;
   width: 1000px;
   object-fit: cover;
   border-radius: 15px;

}

.quem_somos{
   height: 100px;
   width: 900px;
   margin: 50px;
}

.missao_visao_valores{
   height: 150px;
   width: 250px;
   display: inline-block;
   margin: 40px;
}
