#hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icone6 {
  max-width: 300px;
  margin-top: 20px;
}

#icone7 {
  max-width: 300px;
}

#icone8 {
  max-width: 300px;
  margin-top: 20px;
}

.btn_secundario {
  padding: 0.8rem 3.5rem;
  font-size: 16px;
  max-width: 190px;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.quemsomos {
  width: 800px;
  margin: 30px;
  font-size: larger;
}


.missao {
  width: 800px;
  margin: 30px;
  font-size: larger;
}


.visao {
  width: 800px;
  margin: 30px;
  font-size: larger;
}

.valores {
  width: 800px;
  margin: 30px;
  font-size: larger;
}

.subtitulo{
  font-size: 25px;
}



