#foto_armario {
  width: 100vw;
  height: 50vh;
  box-shadow: 0px 7px 5px 0 rgba(0, 0, 0, 0.4);
}

#foto_armario img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.missao_visao_valores {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo,
.subtitulo {
  margin: 10px 0;
}

p {
  font-size: larger;
}

.artigo {
  width: 800px;
  margin: 40px 20px;
  padding: 1rem;
}

.quemsomos {
  width: 800px;
  flex-grow: 1;
}

.missao,
.visao {
  width: 400px;
}

.valores {
  width: 200px;
}
